<div id="direction-line">
  <div id="logo"><i class="fas fa-carrot">Logo</i></div>
  <div id="return-to-head-page-button"><i class="far fa-arrow-alt-circle-left">Home page</i></div>
  <div id="back-page-button"><i class="fas fa-arrow-circle-left">PageButton</i></div>
</div>