<div id="direction-line">
  <div id="logo">Logo<i class="fas fa-carrot"></i></div>
  <div id="return-to-head-page-button">returnToHeadPageButton</div>
  <div id="back-page-button">backPageButton</div>
</div>