

<div id="direction-line">
  <div id="logo"><a href="/">Logo<i class="fas fa-carrot"></i></a></div>
  <div id="return-to-head-page-button"><a href="/"><i class="far fa-arrow-alt-circle-left">Home page</i></a></div>
  <div id="back-page-button"><a href="../"><i class="fas fa-arrow-circle-left">Page back</i></a></div>
</div>

{{!-- "javascript:history.back()" --}}