 <div id="first-line">
            <div id="logo">Logo<i class="fas fa-carrot"></i></div>
            <div id="search-conainer">
                <form id='search-form'>
                    <input id="input-search" placeholder="search for products or brands"><button id="search-button"><i class="fa fa-search" aria-hidden="true"></i></button> 
                </form>
            </div>
            <div id="symbols-container">
                <div class="symbol"><i id="personal-info" class="far fa-user"></i>
                    <div id="registration-container">
                        {{!-- <form id="registration-form">
                            <label for="email-checkin" class="label-reg">E-mail</label>
                            <input id="email-checkin" type="email" name="email">
                            <label for="password-checkin" class="label-reg">Password</label>
                            <input id="password-checkin" type="password" name="password">
                            <input type="submit" value="Check in" id="button-checkin">
                        </form>
                        <div id="account-frase"><p>Don't have a account?</p>
                            <button id="registration-button"><a href="/openregistration">Register now</a></button>
                        </div> --}}
                    </div>
                </div>
                <div class="symbol">???</div>
                <div class="symbol"><i class="fas fa-cart-arrow-down"></i></div>    
            </div>
            
        </div>


        <div id="second-line">
            <div id="all-sections">all sections
                <ul>
                    <li><a href="/">Home</a><i class="fas fa-angle-right"></i></li>
                    <li><a href="laptops">Laptops</a><i class="fas fa-angle-right"></i></li>
                    <li><a href="cell_phones">Cell phones</a><i class="fas fa-angle-right"></i></li>
                    <li><a>section 4</a><i class="fas fa-angle-right"></i></li>
                </ul><i class="fas fa-angle-down"></i>
            </div>
            
            <div><a href="/">Home</a></div>
            <div><a href="/laptops">Laptops</a></div>
            <div><a href="/cell_phones">Cell phones</a></div>
            <div><a>section 4</a></div>
        </div>