    <footer id="footer">
        <table id='table-footer'>
            <tr><th>head1</th><th>head2</th><th>head3</th><th>head4</th></tr>
            <tr><td>frase1</td><td>frase2</td><td>frase3</td><td>frase4</td></tr>
            <tr><td>frase1</td><td>frase2</td><td>frase3</td><td>frase4</td></tr>
            <tr><td></td><td>frase1</td><td>frase3</td><td>frase4</td></tr>
            <tr><td></td><td>frase1</td><td>frase3</td><td></td></tr>
        </table>
    </footer>