<header id="header">
        <div id="header-left"></div>   
        <div id="header-right">
            <ul id="inf-container">
                <li class='inf-in-header'>information1</li>
                <li class='inf-in-header'>information2</li>
                <li class='inf-in-header'>information3</li>
            </ul>
        </div>
    </header>