<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet">
    <link href="check-reg-window.css" rel="stylesheet">
    <link href="style-partials.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <script async src="https://kit.fontawesome.com/00d30ca4c1.js" crossorigin="anonymous"></script>

</head>


<body>

    {{> header}}

    <main id="main">

        {{> firstSecondLine}}


        <div id="third-line">
            <div id="roulette">
                <div id="roulette-window"><i
                        class="fas fa-arrow-alt-circle-left arrow-control arrow-control-left"></i><i
                        class="fas fa-arrow-alt-circle-right arrow-control arrow-control-right"></i>
                    <div id="roulette-line">
                        <div class="roulette-img"><img src="images/test-images/test1.jpg" class="test-img"
                                alt="Test image1"></div>
                        <div class="roulette-img"><img src="images/test-images/test2.png" class="test-img"
                                alt="Test image2"></div>
                        <div class="roulette-img"><img src="images/test-images/test3.png" class="test-img"
                                alt="Test image3"></div>
                        <div class="roulette-img"><img src="images/test-images/test4.png" class="test-img"
                                alt="Test image4"></div>
                    </div>
                </div>
            </div>
        </div>


    </main>



    {{> footer}}
    <script src="mycookie.js"></script>
    <script src="script.js"></script>
    <script src="check-reg-window.js"></script>
 

</body>



</html>