<!DOCTYPE html>
<html lang="en">

<head>
   <title>{{title}}</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <link href="styles/style-roulettes.css" rel="stylesheet">
   <link href="styles/check-reg-window.css" rel="stylesheet">
   <link href="styles/style-partials.css" rel="stylesheet">
   <script async src="https://kit.fontawesome.com/00d30ca4c1.js" crossorigin="anonymous"></script>

</head>


<body>

   {{> header}}

   <main id="main">

      {{> firstsecondline}}


      <div id="third-line">
         <div id="first-subline"></div>
         <div id="second-subline"><img src="./images/sale-images/cyber-monday.jpg"></div>
         {{!-- <div><a href="/laptops/observer/5">LINK</a></div> --}}

      </div>



   </main>



   {{> footer}}
   <script src="scripts/common-functions.js"></script>
   <script src="scripts/mycookie.js"></script>


   <script src="scripts/check-reg-window.js"></script>

   <script src="scripts/roulettes.js"></script>

</body>



</html>