

#registration-container {
   position:absolute;
   width:8em;
   height:8em;
   left:-4em;
   background-color:#FFFACD;
   border:1px solid black;
   border-radius:6px;
   z-index:9999;
     }

     .label-reg, #account-frase {
         display:block;
         margin-top:1em;
         font-size: 0.5em;
         line-height: 1em;
     }

     .label-reg, #email-checkin, #password-checkin, #button-checkin, #account-frase {
        margin-left:3em;
     }


     #button-checkin, #registration-button {
         display:block;
         width:7em;
         height:2em;
        display:block;
        margin-top:1em;
        cursor:pointer;
     }
 
     #account-frase {
        margin-top:2em;
     }

     #registration-button {
        margin-top:0.5em;
     }