           
    /* ---------------------------third-line---------------------- */
        
    #roulette {
        margin-left:20%;
        display:inline-block;
    }

        .roulette-img {    
    display:inline-block;
        }

        #roulette-window {
            position:relative;
            width:30em;
            height:20em;
            padding:0.5em;
            
            border:2px solid red;
            overflow:hidden;
            }

        #roulette-line {
            width:9999px;
        }
        
        .test-img {
            width:30em;
            height:20em;
            margin-right:1em;
        }

        .arrow-control {
            position:absolute;
            font-size:2em;
            top:45%;
            cursor:pointer;
        }

        .arrow-control-left {
            left:0.5em;
        }

        .arrow-control-right {
            right:0.5em;
        }

        #account-settings {
            
        }

    









        