<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="/direction-line.css" rel="stylesheet">
  <script async src="https://kit.fontawesome.com/00d30ca4c1.js" crossorigin="anonymous"></script>
  <style>

  </style>


</head>

<body>

{{> directionline}}

 
  <div>
    <ul>
      <li>Your email: <b id="email-user-info"></b></li>
      <li>Your name: <b id="name-user-info"></b></li>
      <li>Your surname: <b id="surname-user-info"></b></li>
      <li>Your credit: <b id="credit-user-info">0.00$</b></li> <a href="/userPage/addCredit">Make a deposit</a></li>
      <li>Your purchases: <b id="purchases-user-info"></b>
    </ul>

    <button onclick="changeUserData('#profile-form-changing')">Change your profile</button><br>
    <button onclick="changePassword('#password-form-changing')">Change your password</button><br>
    <br><br><br>

    <form id="password-form-changing" name="passwordformchanging">
      <h3 id="result-changing-password"></h3>
      <input name="idUser" hidden>
      <label>Type your actual password</label>
      <input name="actpassword"><br><br>
      <label>Type your new password</label>
      <input type="password" name="newpassword" id="new-password">
      <button id="show-password-toChange">show password</button><br>
      <input type="submit" value="confirm">
      <h2 id="fieldResultPasswordChanging"></h2>
    </form>

    <form id="profile-form-changing" name="profileformchanging">
      <h2>Your account data</h2>
      <h3 id="result-changing-frase"></h3>
      <input name="idUser" hidden>
      <label>input your email</label><br>
      <input name="changeemail"><br><br>
      <label>input your name</label><br>
      <input name="changename"><br><br>
      <label>input your surname</label><br>
      <input name="changesurname"><br><br>
      <label>your password yo confirm</label><br>
      <input name="passwordconfirm"><br><br>
      {{!-- <input id="send-changing-data" type="button" value="confirm"> --}}
      <input type="submit" value="confirm">
    </form>


  </div>

  <script src="/common-functions.js"></script>
  <script src="../../mycookie.js"></script>
  <script>
    'use strict';

body.addEventListener('click',  function () {
cleanHtmlCommonF(['#fieldResultPasswordChanging', '#result-changing-frase']);
});


    document.querySelector('#password-form-changing').hidden = true;

    function changePassword(arg) {
      showHideStuffCommonF(arg);
      let formPassword = document.forms.passwordformchanging;
      if (formPassword.hidden == true) {
        formPassword.removeEventListener('submit', sendPasswordChanging);
        return;
      }
      formPassword.elements.idUser.value = getCookie('id');
      document.querySelector('#show-password-toChange').onclick = (e) => {
        e.preventDefault();
        let inp = document.querySelector('#new-password');
        inp.type = (inp.type == "password") ? 'text' : "password";
      }
      formPassword.addEventListener('submit', sendPasswordChanging);
    }


    async function sendPasswordChanging(e) {
      e.preventDefault();
       let formInAction = document.querySelector('#password-form-changing');
      const formData = new FormData(formInAction);
      const plainFormData = Object.fromEntries(formData.entries());
      const formDataJsonString = JSON.stringify(plainFormData);

      let response = await fetch('/changePassword', {
        method: 'PUT',
        body: formDataJsonString,
        headers: {
          'Content-Type': 'application/json'
        }
      });

      let result = await response;
      let fieldResultPasswordChanging = document.querySelector('#fieldResultPasswordChanging');
      if (result.status == 400) fieldResultPasswordChanging.innerHTML = 'Bad Request';
      else if (result.status == 500) fieldResultPasswordChanging.innerHTML = 'Server error, try again, please';
      else if (result.status == 200) {
        fieldResultPasswordChanging.innerHTML = 'Operation Success';
        formInAction.elements.newpassword.value = '';
        formInAction.elements.actpassword.value = '';
      }
    }





    function completeUserInformation() {
      let emailUserInfo = document.querySelector('#email-user-info');
      emailUserInfo.innerHTML = getCookie('email');

      let nameUserInfo = document.querySelector('#name-user-info');
      nameUserInfo.innerHTML = getCookie('name') || '';

      let surNameUserInfo = document.querySelector('#surname-user-info');
      surNameUserInfo.innerHTML = getCookie('surname') || '';

      let creditUserInfo = document.querySelector("#credit-user-info");
      creditUserInfo.innerHTML = getCookie('credit');


    }


    completeUserInformation()

    document.querySelector('#profile-form-changing').hidden = true;


    function changeUserData(arg) {
      showHideStuffCommonF(arg);
      if (document.querySelector('#profile-form-changing').hidden != false) {
        document.querySelector('#profile-form-changing').removeEventListener('submit', sendUserInfoToChange);
        return;
      }

      let formToComplete = document.forms.profileformchanging;
      formToComplete.elements.idUser.value = getCookie('id')
      formToComplete.elements.changeemail.value = document.querySelector('#email-user-info').innerHTML;
      formToComplete.elements.changename.value = document.querySelector('#name-user-info').innerHTML;
      formToComplete.elements.changesurname.value = document.querySelector('#surname-user-info').innerHTML;

      let sendChangingData = document.querySelector('#send-changing-data');
      document.querySelector('#profile-form-changing').addEventListener('submit', sendUserInfoToChange);
    }



    async function sendUserInfoToChange(e) {
      e.preventDefault();
      const formData = new FormData(document.querySelector('#profile-form-changing'));
      const plainFormData = Object.fromEntries(formData.entries());
      const formDataJsonString = JSON.stringify(plainFormData);

      let response = await fetch('/changeDataUser', {
        method: 'PUT',
        body: formDataJsonString,
        headers: {
          'Content-Type': 'application/json'
        }
      });

      let result = await response;
      let resultChangingFrase = document.querySelector('#result-changing-frase');
      if (result.status == 400 || result.status == 401) {
        resultChangingFrase.innerHTML = 'incorect data';
      } else if (result.status == 500) {
        resultChangingFrase.innerHTML = 'please try again';
      } else if (result.status == 200) {
        resultChangingFrase.innerHTML = 'operation competed';
        let res = await result.json();
        setCookie('name', res.changename, { 'max-age': 3600 });
        setCookie('surname', res.changesurname, { 'max-age': 3600 });
        if (res.changeemail != '') setCookie('email', res.changeemail, { 'max-age': 3600 });
        completeUserInformation()
      }
    }






  </script>
  

</body>

</html>