           /* ---------------------------third-line---------------------- */

           #third-line {
              display: flex;
           }

           /* удалить roulette2 и все что к ней относится */

           #roulette, #roulette2 {
              margin-left: 2em;
              display: inline-block;
              text-align: center;
           }

           .roulette-img {
              display: inline-block;
           }

           #roulette-window, #roulette-window2 {
              position: relative;
              width: 13em;
              height: 19em;
              padding: 0.5em;
              border: 1px solid rgba(102, 109, 114, 0.5);
              border-radius: 2px;
              overflow: hidden;
           }

           .test-img {
              /* width: 30em; */
              height: 15em;
              margin-right: 1em;
              margin: auto;
           }

           .arrow-control {
              position: absolute;
              font-size: 2em;
              top: 45%;
              cursor: pointer;
           }

           .arrow-control-left {
              left: 0.5em;
           }

           .arrow-control-right {
              right: 0.5em;
           }