           /* ---------------------------third-line---------------------- */

           #third-line {}

           #first-subline {
              display: flex;
              /* flex-wrap: wrap; */
              overflow-x: auto;
              justify-content: center;
           }

           [id^="roulette"] {
              display: inline-block;
              text-align: center;
           }

           .roulette-img {
              display: inline-block;
           }

           [id^="roulette-window"] {
              position: relative;
              min-width: 13em;
              max-height: 19em;
              padding: 0.5em;
              margin: 0;
              border: 1px solid rgba(102, 109, 114, 0.5);
              border-radius: 2px;
              overflow: hidden;
           }

           .test-img {
              height: 15em;
              margin-right: 1em;
              margin: auto;
           }

           .arrow-control {
              position: absolute;
              font-size: 2em;
              top: 45%;
              cursor: pointer;
           }

           .fa-arrow-alt-circle-left {
              left: 0.5em;
           }

           .fa-arrow-alt-circle-right {
              right: 0.5em;
           }

           @media screen and (max-width: 1060px) {
              .test-img {
                 height: 10em;
              }
           }

           @media screen and (max-width: 660px) {
              .test-img {
                 height: 6em;
              }
           }

           #second-subline {
              text-align: center;
           }